
  <style> @import url('https://fonts.googleapis.com/css?family=Assistant:400|Adamina:400|Poppins:400,700&display=swap'); </style>
  <style> .gps-509879906868396858 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-509879906868396858 .gp-invisible{visibility:hidden}.gps-509879906868396858 .gp-absolute{position:absolute}.gps-509879906868396858 .gp-relative{position:relative}.gps-509879906868396858 .gp-inset-0{inset:0}.gps-509879906868396858 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-509879906868396858 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-509879906868396858 .gp-z-1{z-index:1}.gps-509879906868396858 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509879906868396858 .gp-mb-0{margin-bottom:0}.gps-509879906868396858 .\!gp-inline{display:inline!important}.gps-509879906868396858 .gp-flex{display:flex}.gps-509879906868396858 .gp-inline-flex{display:inline-flex}.gps-509879906868396858 .gp-grid{display:grid}.gps-509879906868396858 .\!gp-hidden{display:none!important}.gps-509879906868396858 .gp-hidden{display:none}.gps-509879906868396858 .gp-h-5{height:20px}.gps-509879906868396858 .gp-h-full{height:100%}.gps-509879906868396858 .gp-w-5{width:20px}.gps-509879906868396858 .gp-w-full{width:100%}.gps-509879906868396858 .gp-max-w-full{max-width:100%}.gps-509879906868396858 .gp-shrink-0{flex-shrink:0}.gps-509879906868396858 .gp-flex-col{flex-direction:column}.gps-509879906868396858 .\!gp-content-stretch{align-content:stretch!important}.gps-509879906868396858 .gp-items-center{align-items:center}.gps-509879906868396858 .\!gp-justify-start{justify-content:flex-start!important}.gps-509879906868396858 .\!gp-justify-end{justify-content:flex-end!important}.gps-509879906868396858 .gp-justify-center{justify-content:center}.gps-509879906868396858 .gp-gap-y-0{row-gap:0}.gps-509879906868396858 .\!gp-self-center{align-self:center!important}.gps-509879906868396858 .gp-self-center{align-self:center}.gps-509879906868396858 .gp-overflow-hidden{overflow:hidden}.gps-509879906868396858 .gp-break-words{overflow-wrap:break-word}.gps-509879906868396858 .gp-rounded-none{border-radius:0}.gps-509879906868396858 .gp-bg-g-brand{background-color:var(--g-c-brand)}.gps-509879906868396858 .gp-bg-clip-content{background-clip:content-box}.gps-509879906868396858 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-509879906868396858 .gp-no-underline{text-decoration-line:none}.gps-509879906868396858 .gp-opacity-25{opacity:.25}.gps-509879906868396858 .gp-opacity-75{opacity:.75}.gps-509879906868396858 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509879906868396858 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509879906868396858 .gp-duration-200{transition-duration:.2s}.gps-509879906868396858 .gp-duration-300{transition-duration:.3s}.gps-509879906868396858 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509879906868396858 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-509879906868396858 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-509879906868396858 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509879906868396858 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509879906868396858 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509879906868396858 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509879906868396858 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509879906868396858 .tablet\:gp-absolute{position:absolute}.gps-509879906868396858 .tablet\:\!gp-hidden{display:none!important}.gps-509879906868396858 .tablet\:gp-hidden{display:none}.gps-509879906868396858 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-509879906868396858 .tablet\:\!gp-justify-start{justify-content:flex-start!important}.gps-509879906868396858 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-509879906868396858 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-509879906868396858 .mobile\:gp-relative{position:relative}.gps-509879906868396858 .mobile\:\!gp-hidden{display:none!important}.gps-509879906868396858 .mobile\:gp-hidden{display:none}.gps-509879906868396858 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-509879906868396858 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-509879906868396858 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-509879906868396858 .mobile\:\!gp-self-center{align-self:center!important}}.gps-509879906868396858 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1023px){.gps-509879906868396858 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}.gps-509879906868396858 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-509879906868396858 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}.gps-509879906868396858 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-509879906868396858 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-509879906868396858 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-509879906868396858 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-509879906868396858 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-509879906868396858 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509879906868396858 .\[\&_p\]\:gp-inline p{display:inline}.gps-509879906868396858 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509879906868396858 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509879906868396858 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gRAPDAikMK"
        style="--pt:10px;--pb:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRAPDAikMK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gvHNRLlRQf gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-Vx0sTz3W"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-Vx0sTz3W gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQGtogdhYF gp-relative gp-flex gp-flex-col"
    >
      
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg","width":734,"height":500,"backupFileKey":"506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg","width":734,"height":500,"backupFileKey":"506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg","width":734,"height":500,"backupFileKey":"506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gYIr-li4mF","enableParallax":false,"speedParallax":0.6}'
      
      class="gYIr-li4mF gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--mb:var(--g-s-l);--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:500px;--h-tablet:500px;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_img_url: 'master' }}" />
        <img
          
          class=""
          src="{{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:734/500;--aspect-tablet:734/500;--aspect-mobile:734/500;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:734/500;--aspect-tablet:734/500;--aspect-mobile:734/500;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_url }});--bgi-tablet:url({{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_url }});--bgi-mobile:url({{ "506418165727626346-62ec3183-7066-4937-aa6a-c7eb9949449a.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g5ihbC1e4R gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gOv8fmBXur "
        style="--ta:left;--mb:var(--g-s-l);--pl:70px;--pr:70px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="font-size:22px;">Apple Worldwide Developers Conference. Join us online June 10–14.</span></p></div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    class=""
  >
    <style>
    .g3goChrKGt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .g3goChrKGt:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="g3goChrKGt" aria-label="Learn More"
      
      data-state="idle"
      class="g3goChrKGt gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3"
      style="--bg:#5E81FF;--hvr-bg:var(--g-c-highlight, highlight);--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:180%;--size:15px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Learn More
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gbCgR_gj4_","enableParallax":false,"speedParallax":0.6}'
      
      class="gbCgR_gj4_ gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pt:5px;--pb:5px;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
        style="--h:500px;--h-tablet:500px;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_img_url: 'master' }}" />
        <img
          
          class=""
          src="{{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1468/1096;--aspect-tablet:1468/1096;--aspect-mobile:1468/1096;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:1468/1096;--aspect-tablet:1468/1096;--aspect-mobile:1468/1096;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_url }});--bgi-tablet:url({{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_url }});--bgi-mobile:url({{ "506418165727626346-0f047258-595d-410e-982b-9e8839a64c06.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gAavsPx0pN gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gsywXqG4XO"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png" | file_url }}" srcset="{{ '506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png' | file_img_url: '768x768' }} 768w, {{ '506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png' | file_img_url: '1024x1024' }} 1024w, {{ '506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png' | file_img_url: 'master' }} 1440w" width="176" height="54" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:176/54;--aspect-tablet:176/54;--aspect-mobile:176/54;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png" | file_url }}" data-srcset="{{ '506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png' | file_img_url: '768x768' }} 768w, {{ '506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png' | file_img_url: '1024x1024' }} 1024w, {{ '506418165727626346-64ad7a46-4383-4c27-bc7b-ce52024cb9fc.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="176" height="54" alt="Alt image"
      sizes="100vw"
      style="--aspect:176/54;--aspect-tablet:176/54;--aspect-mobile:176/54;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="g67Ux0fOGV "
        style="--ta:left;--mb:0px;--pt:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#000000;">Get up to 3% Daily Cash back</span></p><p><span style="color:#000000;">&nbsp;with every purchase.</span></p></div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g9nGEItSsd"
        style="--pt:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9nGEItSsd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gjp9fcD6QX gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object];--ta:right"
    class=""
  >
    <style>
    .gPWvuy54Dj.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gPWvuy54Dj:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gPWvuy54Dj" aria-label="Button"
      
      data-state="idle"
      class="gPWvuy54Dj gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3"
      style="--bg:#5E81FF;--hvr-bg:var(--g-c-highlight, highlight);--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:4px;--pb:4px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Button
      </span>
    </button>
  </div>
  </gp-button>

    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gTs6pmSirn gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gyY4KlTaZJ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #5E81FF;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gyY4KlTaZJ:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gyY4KlTaZJ" aria-label="Apply Now"
      
      data-state="idle"
      class="gyY4KlTaZJ gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#FFFFFF;--hvr-bg:#5E81FF;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:#5E81FF;--hvr-c:#ffffff;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:4px;--pb:4px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Apply Now
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g2MrwlBJpb gp-relative gp-flex gp-flex-col"
    >
      
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"glfA-2PPA7","enableParallax":false,"speedParallax":0.6}'
      
      class="glfA-2PPA7 gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--mb:var(--g-s-l);--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
        style="--h:500px;--h-tablet:500px;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_img_url: 'master' }}" />
        <img
          
          class=""
          src="{{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1468/1096;--aspect-tablet:1468/1096;--aspect-mobile:1468/1096;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:1468/1096;--aspect-tablet:1468/1096;--aspect-mobile:1468/1096;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_url }});--bgi-tablet:url({{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_url }});--bgi-mobile:url({{ "506418165727626346-dbd510ab-0865-4572-bfaa-bc449a6a9ed7.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gPpYrx4k0E gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--mb:var(--g-s-l);--pt:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    class=""
  >
    <style>
    .gmg3mMErPB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gmg3mMErPB:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gmg3mMErPB" aria-label="WATCH"
      
      data-state="idle"
      class="gmg3mMErPB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-bg-g-brand hover:gp-bg-g-highlight gp-text-g-text-3"
      style="--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--radius:var(--g-radius-small);--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--lh:180%;--size:26px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550820442472">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M227,168a12,12,0,0,0-4.21-5.09C207.25,152.22,204,133.68,204,120c0-16.17,12.68-30.6,20.25-37.76a12,12,0,0,0,0-17.43C210.89,52.17,188.81,44,168,44a76.29,76.29,0,0,0-40,11.37,75.59,75.59,0,0,0-93.58,11A78.64,78.64,0,0,0,12,123.51,131,131,0,0,0,53.43,216,43.81,43.81,0,0,0,83.6,228h87.69a43.87,43.87,0,0,0,32.05-13.85,127.63,127.63,0,0,0,18.4-25.39c1.57-2.88,3-5.71,4.14-8.41C227.47,176.67,229.12,172.87,227,168Zm-41.23,29.82A19.78,19.78,0,0,1,171.29,204H83.6a19.85,19.85,0,0,1-13.7-5.42A107.18,107.18,0,0,1,36,122.88,54.49,54.49,0,0,1,51.5,83.28,50.86,50.86,0,0,1,88,68h.72A51.5,51.5,0,0,1,120.48,79.4a12,12,0,0,0,15,0A51.41,51.41,0,0,1,168,68a67.24,67.24,0,0,1,29.88,7.4C186.26,89.66,180,105.13,180,120c0,23.33,7.47,42.89,21.25,56.19A103.3,103.3,0,0,1,185.76,197.81ZM128.75,13A43.83,43.83,0,0,1,142.17,1.51a12,12,0,0,1,11.64,21,19.84,19.84,0,0,0-6.11,5.24A12,12,0,0,1,128.75,13Z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        WATCH
      </span>
    </button>
  </div>
  </gp-button>

    <div
      parentTag="Col"
        class="gNmdNpmG99 "
        style="--ta:left;--mt:-35px;--mb:var(--g-s-l);--pt:0px;--pl:9px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--lh:180%;--size:17px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#DD0B0B;"><strong>Series 9</strong></span></p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g_-DMxhUGA "
        style="--ta:left;--mt:-29px;--mb:0px;--pl:30px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--lh:180%;--size:20px;--size-tablet:16px;--size-mobile:14px;--weight:bold;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#FFFFFF;">Smarter. Brighter. Mightier.</span></p></div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gMoXPtqvF_"
        style="--pt:0px;--pl:90px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMoXPtqvF_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g7OgUFR0Gi gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object];--ta:right"
    class=""
  >
    <style>
    .gsFfcd2XPB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gsFfcd2XPB:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gsFfcd2XPB" aria-label="Learn More"
      
      data-state="idle"
      class="gsFfcd2XPB gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3"
      style="--bg:#5E81FF;--hvr-bg:var(--g-c-highlight, highlight);--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Learn More
      </span>
    </button>
  </div>
  </gp-button>

    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gCrPF2yZl7 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gV0EeK6sZO.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #5E81FF;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gV0EeK6sZO:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gV0EeK6sZO" aria-label="Buy"
      
      data-state="idle"
      class="gV0EeK6sZO gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:#FFFFFF;--hvr-bg:#5E81FF;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:#5E81FF;--hvr-c:#ffffff;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Buy
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"tablet":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false},"mobile":{"type":"image","color":"bg-2","image":{"src":"https://cdn.shopify.com/s/files/1/0651/0929/5294/files/506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg","width":1468,"height":1096,"backupFileKey":"506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg","storage":"FILE_CONTENT"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"lazyLoad":false}},"uid":"gJQlynozBQ","enableParallax":false,"speedParallax":0.6}'
      
      class="gJQlynozBQ gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--pt:5px;--pb:5px;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
        style="--h:500px;--h-tablet:500px;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="{{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_img_url: 'master' }}" />
        <source media="(max-width: 1023px)" srcset="{{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_img_url: 'master' }}" />
        <img
          
          class=""
          src="{{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_img_url: 'master' }}"
          alt=""
          fetchpriority="high"
          style="--aspect:1468/1096;--aspect-tablet:1468/1096;--aspect-mobile:1468/1096;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="{{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_img_url: 'master' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="{{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_img_url: 'master' }}"
        alt=""
        style="--aspect:1468/1096;--aspect-tablet:1468/1096;--aspect-mobile:1468/1096;--d:block;--d-tablet:block;--d-mobile:none;--h:500px;--h-tablet:500px;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgi:url({{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_url }});--bgi-tablet:url({{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_url }});--bgi-mobile:url({{ "506418165727626346-5e7fd5c7-437b-4126-b3e4-3fe5f6e87167.jpg" | file_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="g9A4xAPXW6 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gsXxAYv6v6"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png" | file_url }}" srcset="{{ '506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png' | file_img_url: '768x768' }} 768w, {{ '506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png' | file_img_url: '1024x1024' }} 1024w, {{ '506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png' | file_img_url: 'master' }} 1440w" width="128" height="27" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:128/27;--aspect-tablet:128/27;--aspect-mobile:128/27;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png" | file_url }}" data-srcset="{{ '506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png' | file_img_url: '768x768' }} 768w, {{ '506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png' | file_img_url: '1024x1024' }} 1024w, {{ '506418165727626346-cbade526-aee3-43bf-a403-0ffeb53555f9.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="128" height="27" alt="Alt image"
      sizes="100vw"
      style="--aspect:128/27;--aspect-tablet:128/27;--aspect-mobile:128/27;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="gfFGDURkC7 "
        style="--ta:left;--mb:0px;--pt:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="color:#000000;">Get $180-$630 in credit when you&nbsp;</span></p><p><span style="color:#000000;">trade in iPhone 11 or higher.</span></p></div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    class=""
  >
    <style>
    .ggRS2gEKhA.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .ggRS2gEKhA:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="ggRS2gEKhA" aria-label="Get Your Estimate"
      
      data-state="idle"
      class="ggRS2gEKhA gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight gp-text-g-text-3"
      style="--bg:#5E81FF;--hvr-bg:var(--g-c-highlight, highlight);--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:var(--g-c-text-3, text-3);--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:16px;--pr:16px;--pt:4px;--pb:4px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Get Your Estimate
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 5",
      "tag": "section",
      "class": "gps-509879906868396858 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mart-for-buy/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509862080220758842&sectionId=509879906868396858)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
