
  <style> @import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap'); </style>
  <style> .gps-510321276582102189 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-510321276582102189 .gp-invisible{visibility:hidden}.gps-510321276582102189 .gp-absolute{position:absolute}.gps-510321276582102189 .gp-relative{position:relative}.gps-510321276582102189 .gp-inset-0{inset:0}.gps-510321276582102189 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-510321276582102189 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-510321276582102189 .gp-z-1{z-index:1}.gps-510321276582102189 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510321276582102189 .gp-mb-0{margin-bottom:0}.gps-510321276582102189 .\!gp-inline{display:inline!important}.gps-510321276582102189 .gp-flex{display:flex}.gps-510321276582102189 .gp-inline-flex{display:inline-flex}.gps-510321276582102189 .gp-grid{display:grid}.gps-510321276582102189 .\!gp-hidden{display:none!important}.gps-510321276582102189 .gp-hidden{display:none}.gps-510321276582102189 .gp-h-5{height:20px}.gps-510321276582102189 .gp-h-full{height:100%}.gps-510321276582102189 .gp-w-5{width:20px}.gps-510321276582102189 .gp-w-full{width:100%}.gps-510321276582102189 .gp-max-w-full{max-width:100%}.gps-510321276582102189 .gp-flex-col{flex-direction:column}.gps-510321276582102189 .gp-items-center{align-items:center}.gps-510321276582102189 .\!gp-justify-end{justify-content:flex-end!important}.gps-510321276582102189 .gp-justify-center{justify-content:center}.gps-510321276582102189 .gp-gap-y-0{row-gap:0}.gps-510321276582102189 .\!gp-self-center{align-self:center!important}.gps-510321276582102189 .gp-self-center{align-self:center}.gps-510321276582102189 .gp-overflow-hidden{overflow:hidden}.gps-510321276582102189 .gp-break-words{overflow-wrap:break-word}.gps-510321276582102189 .gp-rounded-none{border-radius:0}.gps-510321276582102189 .gp-bg-clip-content{background-clip:content-box}.gps-510321276582102189 .gp-no-underline{text-decoration-line:none}.gps-510321276582102189 .gp-opacity-25{opacity:.25}.gps-510321276582102189 .gp-opacity-75{opacity:.75}.gps-510321276582102189 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510321276582102189 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510321276582102189 .gp-duration-200{transition-duration:.2s}.gps-510321276582102189 .gp-duration-300{transition-duration:.3s}.gps-510321276582102189 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510321276582102189 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-510321276582102189 .hover\:gp-bg-g-highlight:hover{background-color:var(--g-c-highlight)}}.gps-510321276582102189 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-510321276582102189 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-510321276582102189 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-510321276582102189 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-510321276582102189 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-510321276582102189 .tablet\:gp-relative{position:relative}.gps-510321276582102189 .tablet\:\!gp-hidden{display:none!important}.gps-510321276582102189 .tablet\:gp-hidden{display:none}.gps-510321276582102189 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-510321276582102189 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-510321276582102189 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-510321276582102189 .mobile\:gp-relative{position:relative}.gps-510321276582102189 .mobile\:\!gp-hidden{display:none!important}.gps-510321276582102189 .mobile\:gp-hidden{display:none}.gps-510321276582102189 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-510321276582102189 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-510321276582102189 .mobile\:\!gp-self-center{align-self:center!important}}@media (max-width:1023px){.gps-510321276582102189 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-510321276582102189 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-510321276582102189 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510321276582102189 .\[\&_p\]\:gp-inline p{display:inline}.gps-510321276582102189 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-510321276582102189 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510321276582102189 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPlb_gFzkR"
        style="--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPlb_gFzkR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="ggafnacIxW gp-relative gp-flex gp-flex-col"
    >
      
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"type":"video","color":"bg-2","image":{"src":"https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/","width":1920,"height":900},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://youtu.be/IY4x85zqoJM?si=z87AWiQzBUr0PyzR","loop":true,"lazyLoad":false},"tablet":{"type":"video","color":"bg-2","image":{"src":"https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/","width":1920,"height":900},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://youtu.be/IY4x85zqoJM?si=z87AWiQzBUr0PyzR","loop":true,"lazyLoad":false},"mobile":{"type":"video","color":"bg-2","image":{"src":"https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/","width":1920,"height":900},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"https://youtu.be/IY4x85zqoJM?si=z87AWiQzBUr0PyzR","loop":true,"lazyLoad":false}},"uid":"gDOkwmt03L","enableParallax":false,"speedParallax":0.6}'
      
      class="gDOkwmt03L gp-group/hero gp-flex gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
      style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:16/9;--aspect-tablet:16/9"
    >
      <div
      class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:16/9;--aspect-tablet:16/9;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--shadow:none"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  <picture style="border-radius: inherit" class="gp-w-full">
    {%- if isFetchPriorityHigh == 'true' -%}
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" />
        <source media="(max-width: 1023px)" srcset="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" />
        <img
          
          class=""
          src="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/"
          alt=""
          fetchpriority="high"
          style="--aspect:1920/900;--aspect-tablet:1920/900;--aspect-mobile:1920/900;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
        />
    {%- else -%}
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <source media="(max-width: 1023px)" data-srcSet="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
      <img
        
        class=" gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/46d5a88e-90ac-48f6-9cb5-b666cd138e46/-/format/auto/"
        alt=""
        style="--aspect:1920/900;--aspect-tablet:1920/900;--aspect-mobile:1920/900;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    {%- endif -%}
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-w-full gp-h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-transform gp-flex gp-items-center gp-justify-center gp-bg-clip-content"
              style="--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          
        </div>
        
        
      
      
    <div
      id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center"
      class="gr9_Ehht71 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gJtsD1pJCB"
    style="--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png" | file_url }}" srcset="{{ '506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png' | file_img_url: '768x768' }} 768w, {{ '506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png' | file_img_url: '1024x1024' }} 1024w, {{ '506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png' | file_img_url: 'master' }} 1440w" width="310" height="62" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:310/62;--aspect-tablet:310/62;--aspect-mobile:310/62;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png" | file_url }}" data-srcset="{{ '506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png' | file_img_url: '768x768' }} 768w, {{ '506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png' | file_img_url: '1024x1024' }} 1024w, {{ '506418165727626346-27865a95-503d-4520-8863-3186ac9e4b0d.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="310" height="62" alt="Alt image"
      sizes="100vw"
      style="--aspect:310/62;--aspect-tablet:310/62;--aspect-mobile:310/62;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--radius:var(--g-radius-none);border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    <div
      parentTag="Col"
        class="g6R709DQJq "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><span style="font-size:30px;">You’ve never seen&nbsp;</span></p><p><span style="font-size:30px;">everything like this before.</span></p></div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gQ2Q3TbTzd"
        style="--pl:50px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:12px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ2Q3TbTzd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gEAzuId_pW gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--op:100%;--animation:[object Object];--ta:right"
    class=""
  >
    <style>
    .ggn0wlQqKA.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .ggn0wlQqKA:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="ggn0wlQqKA" aria-label="Learn More"
      data-state="idle"
      class="ggn0wlQqKA gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-highlight"
      style="--bg:#FFFFFF;--hvr-bg:var(--g-c-highlight, highlight);--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:#000000;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Learn More
      </span>
    </button>
  </div>
  </gp-button>

    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gn1GauDB83 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gsnUAWtzKx.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #5E81FF;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gsnUAWtzKx:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gsnUAWtzKx" aria-label="Buy"
      data-state="idle"
      class="gsnUAWtzKx gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--bg:rgba(0, 0, 0, 0);--hvr-bg:#5E81FF;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--shadow:none;--c:#5E81FF;--hvr-c:#ffffff;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Poppins, 'Poppins');--weight:400;--lh:180%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Buy
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
      </div>
    </gp-hero-banner>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 1",
      "tag": "section",
      "class": "gps-510321276582102189 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/mart-for-buy/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509862080220758842&sectionId=510321276582102189)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
